<!DOCTYPE html>
<html>
  <head>
    <title>Mi tienda</title>
  </head>
  <body>
    <h1>Index</h1>
    <button onclick="comprar()">Comprar 2 elementos</button>
  </body>
  <script src='/script.js'></script>
</html>
