<!DOCTYPE html>
<html>
  <head>
    <title>Mi tienda</title>
  </head>
  <body>
    <h1>Response</h1>
    <div>Transacción</div>
  </body>
  <script src="/script.js"></script>
  <script>
    response()
  </script>
</html>
